.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #606060;
}

.container {
  max-width: 1026px;
}

.header_logo {
  height: 91px;
}

.nav-pills {
  border-radius: 0;
  background-color: #606060;
  font-size: 12px;
  height: 45px;
}

.nav-pills li {
  display: inline-block;
  height: 45px;
  border-right: dotted 1px #fff;
}

.nav-pills .nav-secondary {
  background-color: #969696;
}

.nav-pills .nav-highlight {
  background-color: #e3000f;
}

.nav-pills li a {
  padding: 6px 15px;
  color: #fff;
  height: 100%;
  border-radius: 0;
}

.nav-pills li a:hover {
  color: #000;
  background-color: #fd0;
}

.product-title {
  color: #e3000f;
  margin-top: 0px;
  padding-bottom: 10px;
  border-bottom: solid 1px #000;
}

.product-image {
  width: 100%;
}

.product-price-container {
  border: 1px solid #e5e5e5;
  height: 100px;
}

.product-price {
  line-height: 100px;
  color: #e3000f;
  font-weight: bold;
  font-size: 25px;
}

.product-quantity {
  margin-top: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
